@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

.content-card-style {
    background: red;
}

@keyframes earthquake {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(5deg)
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-5deg)
    }

    100% {
        transform: rotateZ(0deg);
    }
}